[tool.poetry]
name = "formlessness"
version = "0.1.1"
description = ""
authors = ["Travis Jungroth <jungroth@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.9"
pytest-cov = "^3.0.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
black = "^22.3.0"
shed = "^0.10.0"
doit = "^0.36.0"
mkdocs = "^1.3.0"
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs-material = "^8.3.0"
coverage = {extras = ["toml"], version = "^6.4.1"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--cov-config=pyproject.toml"

[tool.coverage.run]
branch = true
source = ["formlessness"]
